<div class="chat-side">
	<div class="title">Chats</div>
	
	<div class="chats" (click)="activateChat($event, chats)" #chats>
		<div class="chat" *ngFor="let a of [1,2,3,4,5,6,7]">
			<div class="user">
				<div class="avatar-box">
					<img src="assets/img/avatar-man.png" alt="avatar">
				</div>
				<div class="info">
					<div class="name">{{ 'User Name' }}</div>
					<div class="last-message">{{ 'Last message' }}</div>
				</div>
			</div>
			<div *ngIf="unread.length" class="unread">{{ unread.length+4 }}</div>
		</div>
	</div>
</div>
