@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Noto+Sans+JP:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'assets/styles/variables';
@import 'assets/styles/mixins/text-mixins';

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @font-face {
        font-family: latin, 'Poppins', sans-serif;
    }

    @font-face {
        font-family: cyrillic, 'Roboto', sans-serif;
    }
}

.more {
    width: fit-content;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: @active;

    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.icon {
    width: 24px;
    height: 24px;
}

.hidden {
    display: none;
}

.btn,
.btn-outline {
    margin-right: 15px;
    margin-top: 15px;

    min-width: 170px;
    padding: 10px;
    border-radius: 4px;

    border: none;
    outline: none;

    text-align: center;
    font-family: @ff;

    font-size: 13px;
    font-weight: 600;

    cursor: pointer;
}

.btn,
.btn-outline {
    text-transform: uppercase;
}

.btn {
    color: #fff;
    background-color: @active;

    &:hover {
        background-color: lighten(@active, 2%);
    }

    &.decline {
        color: @light;
        background-color: #fff;

        &:hover {
            color: darken(@light, 8%);
        }
    }
}

.btn-outline {
    color: @active;
    background-color: #fff;
    border: 1px solid @active;

    &:hover {
        background-color: lighten(@active, 5%);
        color: #fff;
    }

    &.decline {
        color: @light;
        background-color: #fff;
        border: 1px solid @light;

        &:hover {
            color: darken(@light, 8%);
            border: 1px solid darken(@light, 8%);
        }
    }
}

.btn:focus,
.btn-outline:focus {
    box-shadow: 0 0 5px 1px @active;

    &.decline {
        box-shadow: 0 0 5px 1px @light;
    }
}

.like {
    transition: 0.3s;

    &.liked {
        svg {
            fill: @active;
        }
    }

    &.waiting {
        transform: scale(0.8);
        svg {
            fill: darken(@active, 10%);
        }
    }
}

.avatar-box {
    border-radius: 50%;

    margin-right: 15px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

textarea {
    border: none;
    outline: none;
    resize: none;
    overflow: auto;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;

    //transition: height .1s;

    &::-webkit-input-placeholder {
        color: rgba(24, 24, 24, 0.22);
        .user-select-none();
    }

    &::-moz-placeholder {
        color: rgba(24, 24, 24, 0.22);
        .user-select-none();
    }

    &::-webkit-scrollbar {
        width: 5px; /* ширина для вертикального скролла */
        background-color: white;
    }

    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
        background-color: lighten(@light, 30%);
        border-radius: 20px;
    }
}

//system-ui,-apple-system,"Segoe UI",Roboto,
//"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",
//sans-serif,"Apple Color Emoji","Segoe UI Emoji",
//"Segoe UI Symbol","Noto Color Emoji";
