<div class="connections">
    <h2 *ngIf="connections.length === 0" class="no-connections">
        You have no connections yet
    </h2>
    <div *ngIf="connections.length" class="connections__list">
        <div
            *ngFor="let connection of connections"
            class="connection"
            [class.justify-content-center]="!isMyProfile"
        >
            <a
                data-hystclose
                [routerLink]="'/profile/' + connection.user.id"
                class="user"
            >
                <div class="avatar-box">
                    <img
                        [src]="
                            connection.user.info.avatar?.url ||
                            'assets/img/avatar-man.png'
                        "
                        alt="avatar"
                    />
                </div>
                <div class="info">
                    <div class="name">
                        {{ connection.user.firstName }}
                        {{ connection.user.lastName }}
                    </div>
                    <div class="profession">
                        {{ connection.user.info.profession }}
                    </div>
                    <div class="user-connections">
                        {{
                            connection.user.info.connections.length
                        }}
                        connections
                    </div>
                    <!--					<div class="date">{{ connection.date }}</div>-->
                </div>
            </a>
            <button
                *ngIf="isMyProfile"
                (click)="removeConnection(connection.user.id)"
                class="btn"
            >
                Remove
            </button>
        </div>
    </div>
</div>
