<div class="profile__main">
    <div class="profile__header">
        <div class="profile__header--bg">
            <img [src]="headerBg$ | async" alt="bg" />
        </div>
        <div class="profile__header--info">
            <div
                class="avatar-box"
                [style]="'background: url(' + (avatar$ | async) + ')'"
            >
                <img [src]="avatar$ | async" alt="avatar" />
            </div>
            <div class="information">
                <div class="information__header">
                    <h3 class="name">
                        {{ fullName$ | async }}
                        <span>
                            <img
                                src="../../../../assets/img/gold-logo.png"
                                alt="gold-logo"
                            />
                        </span>
                    </h3>
                    <p class="location" *ngIf="locality$ | async as locality">
                        <span>
                            <img
                                src="../../../../assets/img/location.png"
                                alt="location"
                            />
                        </span>
                        {{ locality }}
                    </p>
                </div>
                <div class="information__content">
                    <p>
                        {{ description$ | async }}
                    </p>
                    <div class="controls">
                        <button class="btn">Contact Info</button>
                        <button
                            routerLink="/profile/edit"
                            *ngIf="isMyProfile"
                            class="btn"
                        >
                            <i class="fas fa-user-edit"></i>
                            Edit profile
                        </button>
                        <button
                            *ngIf="
                                !isMyProfile &&
                                !sentConnection &&
                                !isConnection &&
                                !incomingConnection
                            "
                            data-hystmodal="#sendConnectionModal"
                            class="btn"
                        >
                            Send connection
                        </button>
                        <button
                            *ngIf="!isMyProfile && sentConnection"
                            class="btn-outline"
                            (click)="declineConnection()"
                        >
                            Connection was sent
                        </button>
                        <button
                            *ngIf="!isMyProfile && incomingConnection"
                            class="btn-outline"
                            (click)="acceptConnection()"
                        >
                            Accept connection
                        </button>
                        <button
                            *ngIf="!isMyProfile && isConnection"
                            class="btn-outline"
                            (click)="removeConnection()"
                        >
                            Remove connection
                        </button>
                        <button
                            class="btn-outline"
                            data-hystmodal="#connectionsListModal"
                        >
                            {{ connectionsLength$ | async }} Connections
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile__content">
        <div (click)="activateTab($event)" class="tabs">
            <p class="tab active">Profile</p>
            <p class="tab">Activity & Interest</p>
            <p class="tab">Articles (3)</p>
        </div>

        <div class="about">
            <h3>About</h3>
            <p>
                3rd year student of NSTU, I am fond of programming, especially
                web development and javascript, I study javascript frameworks
                for both frontend and backend.
            </p>
            <p class="more">SEE MORE</p>
        </div>
        <div class="projects">
            <div class="head">
                <h3>Projects</h3>
                <p>3 of 12</p>
            </div>

            <div class="cards">
                <div class="card">
                    <img
                        src="../../../../assets/img/project1.png"
                        alt="project1"
                    />
                    <p class="project-name">Zara redesign concept</p>
                    <p class="info">UX/UI design, 15.07.2019</p>
                </div>
                <div class="card">
                    <img
                        src="../../../../assets/img/project2.png"
                        alt="project2"
                    />
                    <p class="project-name">SCTHON event brand identity</p>
                    <p class="info">Graphic design, 31.03.2019</p>
                </div>
                <div class="card">
                    <img
                        src="../../../../assets/img/project3.png"
                        alt="project3"
                    />
                    <p class="project-name">Drozd. Brand identity, 2016</p>
                    <p class="info">Graphic design, 03.04.2016</p>
                </div>
            </div>

            <p class="more">SHOW ALL (12)</p>
        </div>
        <div class="reputation">
            <h3>Skills & Endoresments</h3>
            <div class="containers">
                <div class="container">
                    <div class="container__header">
                        <h4>User experience (UX)</h4>
                        <p class="count">6</p>
                    </div>

                    <div class="photo-queue">
                        <img
                            src="../../../../assets/img/microphotos/Photo.png"
                            alt="Photo"
                        />
                        <img
                            src="../../../../assets/img/microphotos/Photo2.png"
                            alt="Photo"
                        />
                        <img
                            src="../../../../assets/img/microphotos/Photo3.png"
                            alt="Photo"
                        />
                        <img
                            src="../../../../assets/img/microphotos/Photo4.png"
                            alt="Photo"
                        />
                        <img
                            src="../../../../assets/img/microphotos/Photo5.png"
                            alt="Photo"
                        />
                        <img
                            src="../../../../assets/img/microphotos/count1.png"
                            alt="Count"
                        />
                    </div>
                </div>

                <div class="container">
                    <div class="container__header">
                        <h4>User interface (UI)</h4>
                        <p class="count">7</p>
                    </div>

                    <div class="photo-queue">
                        <img
                            src="../../../../assets/img/microphotos/Photo6.png"
                            alt="Photo"
                        />
                        <img
                            src="../../../../assets/img/microphotos/Photo7.png"
                            alt="Photo"
                        />
                        <img
                            src="../../../../assets/img/microphotos/Photo8.png"
                            alt="Photo"
                        />
                        <img
                            src="../../../../assets/img/microphotos/Photo9.png"
                            alt="Photo"
                        />
                        <img
                            src="../../../../assets/img/microphotos/Photo10.png"
                            alt="Photo"
                        />
                        <img
                            src="../../../../assets/img/microphotos/count2.png"
                            alt="Count"
                        />
                    </div>
                </div>

                <div class="container">
                    <div class="container__header">
                        <h4>Brand Identity</h4>
                        <p class="count">5</p>
                    </div>

                    <div class="photo-queue">
                        <img
                            src="../../../../assets/img/microphotos/Photo11.png"
                            alt="Photo"
                        />
                        <img
                            src="../../../../assets/img/microphotos/Photo12.png"
                            alt="Photo"
                        />
                        <img
                            src="../../../../assets/img/microphotos/Photo13.png"
                            alt="Photo"
                        />
                        <img
                            src="../../../../assets/img/microphotos/Photo14.png"
                            alt="Photo"
                        />
                        <img
                            src="../../../../assets/img/microphotos/Photo15.png"
                            alt="Photo"
                        />
                    </div>
                </div>
            </div>

            <p class="more">SHOW ALL (18)</p>
        </div>
        <div class="experience">
            <h3>Experience</h3>

            <div class="container">
                <div class="container__icon">
                    <img
                        src="../../../../assets/img/freelance.png"
                        alt="freelance"
                    />
                </div>
                <div class="container__main">
                    <div class="container__header">
                        <h4>Freelance UX/UI designer</h4>
                        <p class="position">
                            Self Employed <span>Around the world</span>
                        </p>
                        <p class="date">
                            Jun 2016 - Present
                            <span class="duration">3 yrs 3 mos</span>
                        </p>
                    </div>
                    <div class="container__content">
                        <p>
                            Work with clients and web studios as freelancer.
                            Work in next areas: eCommerce web projects; creative
                            landing pages; iOs and Android apps; corporate web
                            sites and corporate identity sometimes.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="container__icon">
                    <img src="../../../../assets/img/upwork.png" alt="upwork" />
                </div>
                <div class="container__main">
                    <div class="container__header">
                        <h4>UX/UI designer</h4>
                        <p class="company">Upwork<span>International</span></p>
                        <p class="date">
                            Jun 2019 - Present
                            <span class="duration">3 mos</span>
                        </p>
                    </div>
                    <div class="container__content">
                        <p>
                            New experience with Upwork system. Work in next
                            areas: UX/UI design, graphic design, interaction
                            design, UX research.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="education">
            <h3>Education</h3>

            <div class="container">
                <div class="container__icon">
                    <img src="../../../../assets/img/NGTU.jpg" alt="NGTU" />
                </div>

                <div class="container__main">
                    <div class="container__header">
                        <h4>Nizhniy Novgorod State Technical University</h4>
                        <p class="degree">
                            Bachelor's Degree in Information Systems and
                            Technology
                        </p>
                        <p class="date">2018 - 2022</p>
                    </div>
                    <div class="container__content">
                        <p>
                            Additional course on web development on Angular and
                            independent study of web development on VUE and Nest
                            js
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal send connection -->
<div class="hystmodal" id="sendConnectionModal" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window" role="dialog" aria-modal="true">
            <button data-hystclose class="hystmodal__close">Close</button>
            <div class="hystmodal__header">
                <h2 class="hystmodal__title">Send connection</h2>
            </div>
            <div class="hystmodal__body">
                <div class="message">
                    <p class="message__title">Message</p>
                    <textarea
                        class="message__textarea"
                        id="message"
                        rows="6"
                        placeholder="If you want to say something, write it here"
                        #textarea
                    ></textarea>
                </div>
            </div>
            <div class="hystmodal__footer">
                <div class="controls">
                    <button
                        (click)="textarea.value = ''"
                        data-hystclose
                        class="btn-outline decline"
                    >
                        Decline
                    </button>
                    <button
                        (click)="sendConnection(textarea.value)"
                        data-hystclose
                        class="btn send"
                    >
                        Send connection
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal connections -->
<div class="hystmodal" id="connectionsListModal" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window" role="dialog" aria-modal="true">
            <button data-hystclose class="hystmodal__close">Close</button>
            <div class="hystmodal__header">
                <h2 class="hystmodal__title">List of connections</h2>
            </div>
            <div class="hystmodal__body">
                <app-users-list-mdl
                    [connections]="(connections$ | async) || []"
                    [isMyProfile]="isMyProfile"
                    (action)="removeConnection($event.userId)"
                ></app-users-list-mdl>
            </div>
        </div>
    </div>
</div>
