<div class="profile__sidebar">
    <div class="dashboard">
        <div class="dashboard__header">
            <p>YOUR DASHBOARD</p>
            <a href="#" class="link more">GO TO STATS</a>
        </div>
        <div class="stats">
            <div class="stat">
                <p class="count">299</p>
                <p class="description">views today</p>
            </div>
            <div class="stat">
                <p class="count">15</p>
                <p class="description">post views</p>
            </div>
            <div class="stat">
                <p class="count">37</p>
                <p class="description">search appereances</p>
            </div>
        </div>
    </div>
    <div class="visitors">
        <div class="visitors__header">
            <p>VISITORS</p>
            <a href="#" class="link more">VIEW ALL</a>
        </div>
        <div class="visitor">
            <div class="avatar">
                <img src="../../../../assets/img/photos/Photo.png" alt="ava" />
            </div>
            <div>
                <p class="name">Darlene Black</p>
                <p class="description">HR-manager, 10 000 connec...</p>
            </div>
        </div>
        <div class="visitor">
            <div class="avatar">
                <img src="../../../../assets/img/photos/Photo2.png" alt="ava" />
            </div>
            <div>
                <p class="name">Theresa Steward</p>
                <p class="description">iOS developer</p>
            </div>
        </div>
        <div class="visitor">
            <div class="avatar">
                <img src="../../../../assets/img/photos/Photo3.png" alt="ava" />
            </div>
            <div>
                <p class="name">Brandon Wilson</p>
                <p class="description">Senior UX designer</p>
            </div>
        </div>
        <div class="visitor">
            <div class="avatar">
                <img src="../../../../assets/img/photos/Photo4.png" alt="ava" />
            </div>
            <div>
                <p class="name">Kyle Fisher</p>
                <p class="description">Product designer at Com...</p>
            </div>
        </div>
        <div class="visitor">
            <div class="avatar">
                <img src="../../../../assets/img/photos/Photo5.png" alt="ava" />
            </div>
            <div>
                <p class="name">Audrey Alexander</p>
                <p class="description">Team lead at Google</p>
            </div>
        </div>
    </div>
    <div class="courses">
        <div class="courses__header">
            <p>YOU MAY LIKE THESE COURSES</p>
        </div>

        <div class="course">
            <img
                class="picture"
                src="../../../../assets/img/courses/Course.png"
                alt="course"
            />
            <div>
                <p class="name">UX Foundations: Prototyping</p>
                <p class="views">27,959 viewers</p>
            </div>
        </div>
        <div class="course">
            <img
                class="picture"
                src="../../../../assets/img/courses/Course2.png"
                alt="course"
            />
            <div>
                <p class="name">Designing with Adobe XD and pro</p>
                <p class="views">9,122 viewers</p>
            </div>
        </div>
        <div class="course">
            <img
                class="picture"
                src="../../../../assets/img/courses/Course3.png"
                alt="course"
            />
            <div>
                <p class="name">UX Foundations: Styles and GUIs</p>
                <p class="views">13,858 viewers</p>
            </div>
        </div>

        <a href="#" class="link more">SEE ALL RECOMENDATIONS</a>
    </div>
</div>
