<script src="auth.component.ts"></script>
<div class="wrapper">
    <div class="container">
        <form
            [formGroup]="authForm"
            (ngSubmit)="onSubmit()"
            method="post"
            class="form"
            id="sign-in"
        >
            <label>
                <input
                    formControlName="firstName"
                    name="firstName"
                    type="text"
                />
            </label>
            <label>
                <input formControlName="lastName" name="lastName" type="text" />
            </label>
            <label>
                <input formControlName="email" name="email" type="email" />
            </label>
            <label>
                <input formControlName="phone" name="phone" type="text" />
            </label>
            <label>
                <input
                    formControlName="password"
                    name="password"
                    type="password"
                />
            </label>

            <input type="submit" value="send data" />
        </form>
    </div>
</div>
