<div class="network-menu">
	<ul (click)="activateListItem($event, list)" class="menu" #list>
		<li class="menu__item">
			<span class="title">
				<svg icon="connections"></svg>
				Connections
			</span>
		</li>
		<li class="menu__item active">
			<span class="title">
				<svg icon="invitations"></svg>
				Invitations
			</span>
			
		</li>
		<li class="menu__item">
			<span class="title">
				<svg icon="teammates"></svg>
				Teammates
			</span>
			
		</li>
		<li class="menu__item">
			<span class="title">
				<svg icon="network"></svg>
				Groups
			</span>
			
		</li>
		<li class="menu__item">
			<span class="title">
				<svg icon="hash"></svg>
				Hashtags
			</span>
			
		</li>
	</ul>
</div>
