@import "src/assets/styles/variables";

.connections {
    display: flex;
    flex-direction: column;
    align-items: center;


    .number {
        font-size: 24px;
        font-weight: 500;

        margin-bottom: 20px;
    }

    &__list {
        margin-top: 30px;

        max-width: 800px;
        width: 80%;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        .connection {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .user {
                display: flex;
                align-items: center;

                text-decoration: none;
                color: @base;

                margin-bottom: 20px;

                font-size: 11px;

                .avatar-box {
                    width: 54px;
                    height: 54px;

                    margin-bottom: 15px;
                }

                .info {
                    .name {
                        font-size: 14px;
                        font-weight: 600;
                    }

                    .user-connections {
                        color: @active;
                        font-weight: 500;
                    }
                }
            }

            .btn {
                height: 40px;
            }
        }
    }
}
