@import 'src/assets/styles/variables';

.profile {
    margin: 0 auto;
    max-width: 1440px;

    font-family: @ff;
    color: @base;

    &__wrapper {
        max-width: 1440px;
        width: 100%;

        display: flex;
        flex-wrap: wrap;

        margin: 0 90px;
    }
}
