<div class="post">
    <div class="post__header">
        <div class="other">
            <svg icon="other"></svg>
            <div class="other-list hidden"></div>
        </div>
    </div>
    <div class="post__body">
        <div class="creator">
            <div>
                <div class="avatar-box">
                    <img
                        class="avatar"
                        [src]="postInfo.creator.avatar || 'assets/img/avatar-man.png'"
                        alt="avatar"
                    />
                </div>
                <div class="description">
                    <span class="name">{{ postInfo.creator.fullName }}</span>
                    <span class="profession">{{ postInfo.creator.profession }}</span>
                </div>
            </div>
            <span class="date">
                {{
                    !!postInfo.dateOfLastModify
                    ? (postInfo.dateOfLastModify | date: 'medium') + '(edited)'
                    : postInfo.dateOfCreation | date: 'medium'
                }}
            </span>
        </div>
        <div class="content" [innerHTML]="content"></div>
    </div>
    <div class="post__footer">
        <div class="left-side">
            <span (click)="likePost(like)" class="like" [class.liked]="liked" #like>
                <svg icon="like"></svg>
                {{ likes.length }}
            </span>
            <span class="comment" (click)="openCloseComments()">
                <svg class="comment" icon="comment"></svg>
                {{ postInfo.comments ? postInfo.comments.length : 0 }}
            </span>
        </div>
        <span class="share">
            <svg icon="share"></svg>
            Share
        </span>
    </div>
    <div class="comments-wrapper" [class.open]="postInfo.commentsOpen">
        <div *ngIf="postInfo.comments" class="comments">
            <div *ngFor="let comment of postInfo.comments" class="comment">
                <div class="avatar-box">
                    <img
                            class="avatar"
                            [src]="comment.creator.avatar"
                            alt="avatar"
                    />
                </div>
                <div class="content">
                    <span class="name">{{ comment.creator.fullName }}</span>
                    <span class="text" [innerHTML]="comment.content"></span>
                    <div class="another">
                        <span class="date">
                            {{
                                !!comment.dateOfLastModify
                                ? (comment.dateOfLastModify | date: 'medium') + '(edited)'
                                : comment.dateOfCreation | date: 'medium'
                            }}
                        </span>
                        <span class="like">
                            <svg icon="like"></svg>
                            {{ comment.likes.length }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="new-comment">
            <textarea #commentInput
                rows="1"
                contenteditable="true"
                (input)="textareaResize($event)"
                onblur="this.value = this.value.trim()"
                placeholder="Add a public comment..."
            ></textarea>
            <button class="btn-comment" (click)="createComment(commentInput)">
                <svg icon="send" class="send"></svg>
            </button>
        </div>
    </div>
</div>
